@import "tailwindcss";

@theme {
  --breakpoint-xs: 429px;
  --breakpoint-sm: 539px;
  --breakpoint-md: 1023px;

  --text-xxxs: 0.6rem;
  --text-xs: 0.9rem;

  --color-theme: var(--theme);
  --color-error: var(--error);
}

@font-face {
  font-family: "Cafe24PROUP";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2507-1@1.0/Cafe24PROUP.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Galmuri11-Condensed";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/Galmuri11-Condensed.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: Galmuri11-Condensed, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(24, 24, 29);
  --theme: oklch(86.5% 0.127 207.078);
  --error: rgb(255, 31, 31);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.1rem;
}

span {
  font-size: 0.9rem;
}

@media screen and (max-width: 539px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  p {
    font-size: 1rem;
  }

  span {
    font-size: 0.9rem;
  }
}

/* textarea 설정 */
#note-container textarea {
  @apply w-full p-1 focus:outline-theme outline-1 rounded-xs resize-none;
}

#note-container textarea[readonly] {
  @apply border-none cursor-default outline-none;
}

#note-container textarea:not([readonly]) {
  @apply border border-theme focus:outline-theme;
}

/* 스크롤바 설정 */
::-webkit-scrollbar {
  background: transparent;
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border: 1px solid var(--theme);
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--theme);
}

::-webkit-scrollbar-button {
  display: none;
}

#note::-webkit-scrollbar {
  display: none !important;
}

/* 버튼 설정 */
button:hover {
  color: var(--theme);
  cursor: pointer;
}

button {
  @apply flex items-center justify-center;
}
